
<!DOCTYPE html>
<html>
  <head>
    <title>Login - <%= blog.name %></title>
    <%- include head %>
  </head>
  <body class="login">

    <form class="form form-login" action="/login" method="POST">
      <h1>Sign In</h1>
      <input name="username" type="text" class="input-block-level" placeholder="Email address" autofocus>
      <input name="password" type="password" class="input-block-level" placeholder="Password">
      <button class="btn btn-primary btn-block" type="submit">Go</button>
    </form>

  </body>
</html>